test.psc
test
unused
.pytest_cache
*.py[cod]
.DS_Store
__pycache__
flowchart_general.png
.vscode/
.venv

# PyInstaller build artifacts
build/
dist/
*.spec
*.dmg

# Temporary files
*.png
*.svg
!assets/*.svg
!src/Upload.svg
dmg_contents/